@font-face {
  font-family: "Lato";
  src: url(../public/Lato-Regular.ttf);
}

:root {
  /* TODO: Choose a primary color for the project */
  --primary-color: rgb(28, 131, 235);
  /* --primary-color: rgb(218, 105, 89); */
  /* --primary-color: rgb(240, 157, 52); */
  --primary-color-hover: rgb(5, 104, 202);
  --primary-color-active: rgba(5, 104, 202, 0.5);
  /* --primary-color-hover: rgb(179, 54, 42); */
  /* --primary-color-hover: rgb(226, 142, 65); */
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  max-width: 15rem;
}

p {
  line-height: 1.5rem;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

.app {
  font-family: "Lato", sans-serif;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem 8rem 1rem 8rem;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  box-shadow: 0 0 0 0.15rem #ffffff;
  padding: 0 1.35rem;
}

.header__logo__name {
  text-align: center;
  font-size: 4rem;
  line-height: 4.25rem;
  font-weight: 500;
  letter-spacing: -2px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header__item {
  font-size: 1.25rem;
}

.header__item--highlight {
  & .header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    box-shadow: 0 0 0 0.15rem #ffffff;
    padding: 1rem 1.5rem;
  }

  & .header__link__text {
    text-decoration: none;
  }
}

.header__link {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
}
.header__link:hover {
  color: var(--primary-color);
}

.header__link__svg {
  max-width: 2rem;
}

.header__link__text {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.app__main {
  display: flex;
  flex-direction: column;
}

.main__hero-section {
  background-image: url(../public/code.avif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  padding: 3rem 8rem;
  background-color: #000000;
  color: #ffffff;
}

.hero-section__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-section__title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero-section__p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.hero-section__div {
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;

  & .header__link--white {
    color: #000000;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    padding: 1rem 1.5rem;
  }
}

.header__link--white {
  & .header__link__text {
    text-decoration: none;
  }
}

.main__projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 3rem 8rem;
}

.section__title {
  font-size: 3rem;
}

.projects-section__container {
  /*TODO: Hacer del "projects-section__container" un "display: grid" que muestre los elementos en formato Grid */

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 8rem;
}

.projects-section__card {
  border: none;
  border-radius: 3px;
  overflow: hidden;
  max-width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d9d9d9;
  aspect-ratio: 1;

  & .card__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding: 2rem;
    height: 100%;
  }

  & .card__img {
    position: absolute;
    top: 0;
    left: -100%;
    max-width: 100%;
    height: 100%;
    transition: left 300ms ease;
  }

  & .card__title {
    font-size: 2rem;
    font-weight: 600;
  }

  & .card__description {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  & .card__links {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .card__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    opacity: 0.65;
  }

  & .card__link:hover {
    opacity: 1;
    color: var(--primary-color);
  }

  & .card__link__svg {
    max-width: 2.5rem;
  }
}

.projects-section__card:hover .card__img {
  left: 0;
}

.projects-section__btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 0.15rem #000000;
  padding: 1rem 1.5rem;

  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.projects-section__btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--primary-color-active);
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  inset: 0;
  margin: auto;
  opacity: 0;

  transition: transform 1000ms 200ms, opacity 200ms;
}

.projects-section__btn > :first-child {
  left: 0;
  top: 0;
}

.projects-section__btn > :last-child {
  right: 0;
  top: 0;
}

.btn__span--hover {
  position: absolute;
  z-index: -1;
  width: 33.333%;
  height: 100%;
  opacity: 0.5;
}

.projects-section__btn:active::before {
  transform: scale(20);
  opacity: 1;

  transition: transform 1000ms, opacity 500ms;
}

.projects-section__btn:has(:first-child:active)::before {
  margin-left: 0;
}

.projects-section__btn:has(:last-child:active)::before {
  margin-right: 0;
}

.projects-section__btn:has(:first-child:active)::before,
.projects-section__btn:has(:last-child:active)::before {
  transition: transform 500ms, opacity 250ms;
}

.projects-section__btn__text {
  font-size: 1.25rem;
}

/* TODO: Styles from the About Section to the Footer */

.main__about-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 8rem 4.5rem 8rem;
  background-color: #d9d9d9;
}

.about-section__title {
  align-self: center;
}

.about-section__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-section__sub-title {
  font-size: 2rem;
}

.about-section__p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.certificate-link {
  color: var(--primary-color);
  text-decoration: underline var(--primary-color) solid;
}

.certificate-link:hover {
  color: var(--primary-color-hover);
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 1.5rem 8rem;
  gap: 2rem;
}

.footer__navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__links {
  display: flex;
  gap: 2rem;
}

.footer__nav__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__li {
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  opacity: 0.65;
}

.footer__link:hover {
  opacity: 1;
}

.footer__link__text {
  font-size: 1.25rem;
}

.footer__link__svg {
  width: 3rem;
}

.footer__title {
  font-size: 1.5rem;
}

.footer__legal {
}

.footer__legal__text {
  font-size: 1.15rem;
}

/* rgb(218,105,89) */
/* rgb(179,54,42) */
/* rgb(240,157,52) */
